# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ilk

#Release
*.iobj
*.ipdb

#OtherStuff
*.suo
*.pdb
*.ipch
*.opendb
*.log

# Visual Studio 2015 cache/options directory
.vs/

Dream Country/Dream Country/Debug/
Dream Country/Dream Country/Release/
